* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 1.2rem 3rem;
  font-size: 1.5rem;
  /* border-bottom: 1px solid black; */
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  background-color: black;
  color: rgb(255, 192, 203);
}

nav img {
  width: 50px;
  border-radius: 50%;
  border: 3px solid pink;
}

#container {
  display: flex;
  gap: 2rem;
  padding: 2rem 1.5rem;
  position: relative;
}

main {
  flex: 3;
  padding: 0 2rem;
}

section {
  margin: 1rem 0;
}

aside {
  flex: 1;
  padding: 1rem 2rem;
  background-color: black;
  color: pink;
  border-radius: 10px;
  /* line-height: 2rem; */
  height: 30vh;
  position: sticky;
  top: 2rem;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
}

aside .completed {
  text-decoration: line-through;
}

aside .important {
  font-weight: bold;
  color: orangered;
  list-style: none;
  margin-left: -1.5rem;
  font-size: 1.15rem;
  margin-top: 1rem;
}

aside .important::before {
  content: "🔥  ";
}